# Build directories
build*/
cmake-build-*/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
CTestTestfile.cmake

# Compiled object files
*.o
*.obj
*.elf
*.hex
*.bin
*.uf2
*.map

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
badge_desktop
badge_embedded

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE files
.vscode/
.vs/
*.vcxproj*
*.sln
*.user

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Pico SDK
pico-sdk/

# Editor backups
*~
*.swp
*.swo
.#* 